.block {
    list-style-type: none;
}

.inline {
    border: 1px solid black;
    margin: 25 25 25 25
}

.n-child section:nth-last-of-type(3) {
    border: 1px solid black;
}

.n-child section:nth-last-of-type(1) {
    border: 1px solid black;
}